/* Name: Anson Mah */
/* Date: 26 April, 2024 */

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #303030;
	gap: 10px;
	overflow: hidden;
}

#toolsContainer {
	background-color: beige;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
	padding: 1em;
	font-size: 1.5em;
}

#canvas {
	background-color: white;
}

.button-class {
	font-size: 0.8em;
}